{{#bs-navbar type='inverse' fluid='fluid' position='fixed-top' backgroundColor='dark' as |navbar|}}
  <div class="navbar-header">
    <a class="navbar-brand" href="/">FakeBank</a>
  </div>
{{/bs-navbar}}