<!-- div class=card -->
<div class="card-body">
  <h5 class="card-title">{{fa-icon offer.icon}} {{offer.name}}</h5>
  <h6 class="card-subtitle mb-2 text-muted">{{offer.kind}}</h6>
  <p class="card-text">{{offer.description}}</p>
</div>
<div class="card-footer bg-transparent text-center">
  {{#bs-button type="secondary" buttonType="submit"}}Learn More &hellip;{{/bs-button}}
</div>