
@import "ember-bootstrap/bootstrap";

body {
  font-size: 14px;
}

section.main {
  padding-top: 90px;
}

.models-table-wrapper {
  .globalSearch {
    margin-bottom: 1em;
  }
}

.transaction-negative {
  color: red;
}

.navbar-brand, .navbar-brand:hover {
  text-decoration: none;
  color: white;
}

.table-header {
  padding-bottom: 12px;
}

#main-content {
  padding-bottom: 45px;
}

#main-api-history {
  font-size: 0.85em;
  background-color: #e1e9ff;
  box-shadow: 0px 0px 10px 2px rgba(50,50,50,0.2);
}
