<div class="full-height row no-gutters">
  <div id="main-content" class="col-lg-7">
    {{nav-bar}}
    <section class="main-content-tabs container">
      {{#bs-nav type="tabs" as |nav|}}

        {{#if model.accounts}}
          {{#nav.item}}
            {{#nav.link-to "accounts"}}Accounts{{/nav.link-to}}
          {{/nav.item}}
        {{/if}}

        {{#if model.transactions}}
          {{#nav.item}}
            {{#nav.link-to "transactions"}}Transactions{{/nav.link-to}}
          {{/nav.item}}
        {{/if}}

        {{#if model.transfers}}
          {{#nav.item}}
            {{#nav.link-to "transfers.new"}}Transfer{{/nav.link-to}}
          {{/nav.item}}
        {{/if}}

        {{#if model.offers}}
          {{#nav.item}}
            {{#nav.link-to "offers"}}Offers{{/nav.link-to}}
          {{/nav.item}}
        {{/if}}

      {{/bs-nav}}
    </section>
    <section class="main-content-outlet container">
      {{outlet}}
    </section>
  </div>
  <div id="main-api-history" class="col-lg-5">
    <section class="container">
      {{api-history}}
    </section>
  </div>
</div>
