<div id="login-error" class="full-height">
  <div class="container">
    <p>
      {{model.message}}
    </p>
    <p>
      {{#link-to "login" class="btn btn-primary"}}Login Again{{/link-to}}
    </p>
  </div>
</div>
